.navbar_search{
    height: 40px;
    width: 190px;
    border-radius: 25px;
    border: none;
    background-color: #EFF2F5;
    font-size: 16px;
    padding-left: 30px;
    margin-top: 8px;
}
.navbar_leftbar{
    display: flex;
}
.navbar_logo{
    margin: 8px 10px 8px 16px;
}
.navbar_main{
    border-bottom: 1px solid #DBDBDE;
}
.navbar_container{
display: flex;
margin-top: 10px;
margin-left: 60px;
}
.navbar_tabs{
    width: 120px;
   height: 45px;
}
.navbar_tabs.active{
    border-bottom: 3px soild #1877F2;
}
.navbar_right{
    display: flex;
    margin-left: 40px;
}
.navbar_rightimg{
    margin-top: 10px;
    margin-right: 10px;
    max-width: 30px;
    max-height: 30px;
}
.navbar_profilename{
    margin-top: 20px;
    font-weight: 600px;
}
.rightside_nav1{
   
    margin-top: 8px;
    margin-left: 10px;
    background-color: #EFF2F5;
    border-radius: 50%;
    
}
.rightside_nav2{
  
    margin-top: 10px;
    margin-left: 10px;
    background-color: #EFF2F5;
    border-radius: 50%;
}
.rightside_nav3{
    width: 45px;
    height: 45px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: #EFF2F5;
    border-radius: 50%;
}
.rightside_nav4{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    background-color: #EFF2F5;
    border-radius: 50%;
    margin-left: 10px;
}