.mainpage_container{
    height: 658px;
    background-color: #eff2f5;
}
.imagelayout_container{
display: flex;
margin: 15px 0px 0px 10px;
}
.imagelayout_imglay{

}
.imagelayout_img{
    max-width: 35px;
    max-height: 35px;

}
.imagelayout_text{
    font-weight: 500;
 margin: 10px;
 font-size: 14px;
}
.middle_container{
    margin-left: 50px !important;
    overflow-y: scroll;
    height: 650px;
    max-width: 600px !important;
}